.text-gold {
  color: #DAA520;
}

.text-dark-red {
  color: #B20000;
}

.text-blue {
  color: #1b95e0;
}

.qp-green {
  color: #6BA41D;
}

.qp-red {
  color: #BB4444;
}

.grey {
  color: #999;
}

.white {
  color: #fff;
}

.black {
  color: #333;
}
