
.qp-table {
  width: 100%;
  margin-bottom: 1em;

  thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  thead th {
    background-color: rgba(107,164,29,0.8);
    border: 1px solid rgba(107,164,29,0.4);

    // font-weight: normal;
    text-align: center;
    color: white;
  }
  thead th:first-of-type {
    text-align: left;
  }
  tbody,
  tr,
  th,
  td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  th,
  td {
    padding: .5em;
    vertical-align: middle;
  }

  tfoot {
    font-style: italic;
  }
  /*
  tfoot td {
  text-align: center;
  }
  @media (min-width: 62em) {
  tfoot {
  font-size: .9em;
  }
  }*/

  tbody tr {
    margin-bottom: 1em;
    border: 2px solid #6BA41D;
    cursor: pointer;
  }
  tfoot tr {
    margin-top: 1em;
  }
  tbody tr:last-of-type {
    margin-bottom: 0;
  }

  tbody th[scope="row"],
  tfoot th[scope="row"] {
    background-color: #6BA41D;
    color: white;  }

  tbody td,
  tfoot td {
    text-align: right;
  }
  tfoot th:empty,
  tfoot td:empty {
    display: none;
  }

  tbody td[data-type=currency] {
    text-align: right;
  }
  tfoot td[data-type=currency] {
    text-align: right;
  }
  tbody td[data-title]:before,
  tfoot td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: .8em;
    color: rgba(94, 93, 82, 0.75);
  }

  @media (min-width: 30em) {
    th,
    td {
      padding: .75em .5em;
    }

    tbody td {
      border-bottom: 1px solid #CCC;
    }

    tbody td[data-title]:before,
    tfoot td[data-title]:before {
      font-size: .9em;
    }
  }


  @media (min-width: 48em) {
    font-size: .9em;

    thead {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }

    tr {
      display: table-row;
    }

    tbody {
      display: table-row-group;
    }
    tbody tr,
    tfoot tr {
      display: table-row;
      border-width: 1px;
    }
    tfoot th:empty,
    tfoot td:empty {
      display: table-cell !important;
    }

    th,
    td {
      display: table-cell;
      padding: .5em;
    }

    tbody th[scope="row"],
    tfoot th[scope="row"] {
      background-color: transparent;
      color: #333;
      text-align: left;
    }
    tbody th[scope="row"] {
      border-bottom: 1px solid #CCC;
    }

    tbody tr:nth-of-type(even) {
      background-color: rgba(94, 93, 82, 0.1);
    }

    tbody tr.selected {
      background-color: #C6C6C6;
    }

    tbody tr:hover {
      /*background-color: #E2FFD9 !important;*/
      background-color: #d0e4b5 !important;
    }

    tbody td,
    tfoot td {
      text-align: center;
    }
    tbody th[data-align=right],
    tbody td[data-align=right],
    tfoot th[data-align=right],
    tfoot td[data-align=right]
    {
      text-align: right;
    }

    tbody td[data-title]:before,
    tfoot td[data-title]:before {
      content: none;
    }
  }

  @media (min-width: 62em) {
    font-size: 1em;

    th,
    td {
      padding: .75em .5em;
    }
  }

  @media (min-width: 75em) {
    th,
    td {
      padding: .75em;
    }
  }

  @media print {
    font-size: 0.7em;

    thead {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }

    thead th {
      border: none;
      border-bottom: 2px solid black;
    }

    tbody tr {
      border: none;
      border-bottom: 1px solid black;
    }

    tr {
      display: table-row;
    }

    tbody {
      display: table-row-group;
    }
    tbody tr,
    tfoot tr {
      display: table-row;
      border-width: 1px;
    }
    tfoot th:empty,
    tfoot td:empty {
      display: table-cell !important;
    }

    th,
    td {
      display: table-cell;
      padding: .5em;
    }

    tbody th[scope="row"],
    tfoot th[scope="row"] {
      background-color: transparent;
      color: #333;
      text-align: left;
    }
    tbody th[scope="row"] {
      border-bottom: 1px solid #CCC;
    }

    tbody td,
    tfoot td {
      text-align: center;
    }
    tbody th[data-align=right],
    tbody td[data-align=right],
    tfoot th[data-align=right],
    tfoot td[data-align=right]
    {
      text-align: right;
    }

    tbody td[data-title]:before,
    tfoot td[data-title]:before {
      content: none;
    }
  }



  /* Custom qp-report styles */
  @media (min-width: 48em) {
    .history-user {
      vertical-align: top;
      width: 125px;
      text-align: center !important;
    }
    .history-message  {
      text-align: left;
    }
    .qp-text-left {
      text-align: left;
    }
    .qp-text-right {
      text-align: right;
    }
  }

  /* Animations */
  .ng-enter {
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    opacity:0;
  }
  .ng-enter-active {
    opacity:1;
  }
}
