/****************************
 * Qualpay Shared SCSS
 ****************************/

@import "colors";
@import "qp-grid";
@import "qp-table";
@import "qp-form";

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #FFF;
}

a {
  cursor: pointer;
}

html, body {
  height: 100%;
}

.content {
  padding: 14px 10px 148px 10px;
}

.clear {
  clear: both;
}

.inline {
  display: inline;
}

.italic {
  font-style: italic;
}

.text-color-qualpay {
  color: #6BA41D;
}

.text-color-grey {
  color: #333;
}

.text-color-black {
  color: #000;
}

.margin-bottom {
  margin-bottom: 10px;
}
.margin-bottom-l {
  margin-bottom: 30px;
}
.margin-bottom-xl {
  margin-bottom: 50px;
}

.strong {
  font-weight: bold;
}

.qp-right {
  position: absolute;
  top: 0;
  right: 0;
}

.popover {
    width: 200px;
}
.popover-content {
    white-space: normal;

}

#payment_form {
  padding: 10px;
}

#payment_form label {
  display: block;
  margin-top: 6px;
}

#application {
  min-height: 100%;
}

#application #container {
	padding-bottom: 40px;
}

#root, #preloader {
  -webkit-transition: opacity 600ms ease-in;
  -moz-transition: opacity 600ms ease-in;
  -o-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in;
  opacity: 1;
}
body.firstload {

}
body.firstload:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
body.firstload #preloader {
  display: inline-block;
  opacity: 1;
  text-align: center;
}
body #preloader {
  opacity: 0;
  display: none;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 40px;
}
body.firstload #root {
  opacity: 0;
  visibility: hidden;
}

#root {
  min-width: 320px;
  position: relative;
  height: 100%;
  background-color: white;
}

#main-header {
  color: #DDD;
  webkit-box-shadow: 0 0 5px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 5px 4px rgba(0,0,0,0.25);
  box-shadow: 0 0 5px 4px rgba(0,0,0,0.25);
  display: block;
  position: relative;
  top: 0;
  height: 64px;
  width: 100%;
  min-width: 320px;
  background: #585852;

  .mobile-subheader {
    display: none;
  }
  #logo {
    height: 64px;
    float: left;
    padding: 10px;
  }
  .toolbar,
  .profile,
  .profile-nav {
    float: left;
    position: relative;
    height: 64px;
    border-left: 1px solid #696963;
  }
  .mid-selector {
    .input-icon {
      select {
        background: #66665F;
        color: #DDD;
        border: 1px solid #464646;
        width: 100%;
        padding-right: 30px;
      }

      .fa-sort {
        pointer-events: none;
      }

      > .fader {
        position: absolute;
        width: 40px;
        top: 3px;
        right: 30px;
        height: 28px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #66665F 100%);
        pointer-events: none;
      }

      @media (min-width: 650px) {
        select {
          width: 184px;
          -webkit-transition: width 0.5s cubic-bezier(0.34, -0.35, 0.26, 1.3);
          -moz-transition: width 0.5s cubic-bezier(0.34, -0.35, 0.26, 1.3);
          -o-transition: width 0.5s cubic-bezier(0.34, -0.35, 0.26, 1.3);
          transition: width 0.5s cubic-bezier(0.34, -0.35, 0.26, 1.3);

          &.loaded {
            width: 260px;
          }
        }
      }

      @media (min-width: 815px) {
        select {
          width: 184px;
          transition: width 0.5s cubic-bezier(0.34, -0.35, 0.26, 1.3);

          &.loaded {
            width: 400px;
          }
        }
      }
    }
  }

  .toolbar,
  .profile {
    margin-right: 20px;
    padding-left: 20px;
  }
  .single-line {
    line-height: 64px;
  }
  .double-line {
    padding-top: 4px;
  }
  @media all and (max-width: 650px) {
    .mobile-subheader {
      float: left;
      display: block;
      height: 64px;
      background-color: #444;
      width: 100%;
      padding: 4px 10px;
    }
    #header-right {
      display: none;
    }
    #logo {
      margin-left: 64px;
    }
  }

  @media print {
    display: none;
  }
}

.profile {
  .user-info {
    min-width: 200px;
  }
}

.profile-nav {

  .nav-toggle {
    display: block;
    z-index:200;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
  }

  .nav-toggle span {
    line-height: 64px;
    width: 64px;
    text-align: center;
  }

  .open .nav-toggle {
    background-color: #6BA41D;
  }

  .drop-down {
    -webkit-transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95),top 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
    -moz-transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95),top 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
    -o-transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95),top 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
    transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95),top 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
    font-size: 0.875em;
    line-height: 1.71429em;
    position: absolute;
    right: 0;
    padding: 0;
    top: -300px;
    width: 200px;
    opacity: 0;
    background-color: #333;
    z-index: 10;
  }

  .open .drop-down {
    opacity: 1;
    top: 64px;
  }

  .drop-down li {
    height: 48px;
    padding: 3px 0;
  }
  .drop-down a {
    border-left: 3px solid transparent;
  }
  .drop-down li,
  .drop-down a {
    line-height: 48px;
    height: 48px;
  }
  .drop-down li {
    background-color: #333;
    border-top: 1px solid #444;
  }
  .drop-down li:first-child {
    border-top: none;
  }
  .drop-down a {
    color: #FDFDFD;
    padding: 0 1em;
    display: block;
  }
  .drop-down a:active,
  .drop-down a:focus,
  .drop-down a:hover {
    text-decoration: none;
  }
  .drop-down i {
    width: 40px;
    height: 100%;
    float: left;
    font-size: 27px;
    line-height: 48px;
    color: #FDFDFD;
    text-indent: 3px;
  }
}

#mobile-nav {
  display: none;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;

  .nav-toggle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
    background-color: #585852;
    display: block;
    width: 100%;
    height: 100%;
    border-right: 1px solid #7A7A74;
    text-align: center;
  }

  .nav-toggle i {
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 27px;
    line-height: 64px;
    color: #fefefe;
  }

  .slide-out {
    -webkit-transition: opacity 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95), left 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95), border-color 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95);
    -moz-transition: opacity 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95), left 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95), border-color 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95);
    -o-transition: opacity 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95), left 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95), border-color 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95);
    transition: opacity 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95), left 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95), border-color 0.5s cubic-bezier(0.06,  0.95,  0.09,  0.95);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 250px;
    position: relative;
    left: -250px;
    z-index: 1000;
  }

  .slide-out li {
    height: 48px;
    padding: 3px 0;
  }
  .slide-out a {
    border-left: 3px solid transparent;
  }
  .slide-out li, #mobile-nav .slide-out a {
    line-height: 48px;
    height: 48px;
  }
  .slide-out li {
    background-color: #333;
    border-top: 1px solid #444;
  }
  .slide-out li:first-child {
    border-top: none;
  }
  .slide-out a {
    color: #FDFDFD;
    padding: 0 0.5em;
    display: block;
  }

  .slide-out a:active,
  .slide-out a:focus,
  .slide-out a:hover {
    text-decoration: none;
  }

  .menu-item .menu-label {
    font-size: 16px;
    text-indent: 0.5em;
    display: block;
    vertical-align: middle;
    text-decoration: none;
  }
  .menu-item>a>.menu-icon {
    float: left;
    text-align: center;
    line-height: 40px;
    width: 40px;
  }
  .slide-out li.active .menu-icon {
    color: #6BA41D;
  }
  .slide-out li.active a {
    color: #FDFDFD;
    border-left: 3px solid #6BA41D;
  }
  .open .nav-toggle {
    background-color: #6BA41D;
  }
  .open .slide-out {
    left: 0;
    opacity: 1;
  }

  &.open .nav-toggle {
    background-color: #6BA41D;
  }
  &.open .slide-out {
    left: 0;
    opacity: 1;
  }

  @media all and (max-width: 650px) {
    display: block;
  }
}

#page-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  z-index: 1;
  clear: both;
}

#content-wrapper {
  width: 100%;
  position: relative;
  float: left;
  border-left: 64px solid #333;
  -webkit-transition: border-left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),opacity 0.2s ease-out;
  -moz-transition: border-left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),opacity 0.2s ease-out;
  -o-transition: border-left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),opacity 0.2s ease-out;
  transition: border-left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),opacity 0.2s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden;

  &.ng-enter {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity:0;
    -webkit-transition-delay: 0.22s;
    transition-delay: 0.22s;
  }
  &.ng-enter-active {
    opacity:1;
  }
  &.ng-leave {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity:1;
  }
  &.ng-leave-active {
    opacity:0;
  }

  @media all and (max-width: 650px) {
    border-left: 0;
  }
}

#side-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  position: absolute;
  background: #333;
  width: 64px;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;

  &.expanded {
    -webkit-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    -moz-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    -o-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    width: 200px;
  }

  &.collapsed {
    -webkit-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    -moz-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    -o-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3),width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    width: 64px;
  }

  &.fixed {
    position: fixed;
    -webkit-backface-visibility: hidden;
  }

  &.expanded+#content-wrapper {
    border-left: 200px solid #333;
  }

  &.collapsed+#content-wrapper {

  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  .menu-item {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97),border-color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97),background-position 0.5s cubic-bezier(0, 0.91, 0.94, 0.97);
    -moz-transition: color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97),border-color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97),background-position 0.5s cubic-bezier(0, 0.91, 0.94, 0.97);
    -o-transition: color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97),border-color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97),background-position 0.5s cubic-bezier(0, 0.91, 0.94, 0.97);
    transition: color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97),border-color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97),background-position 0.5s cubic-bezier(0, 0.91, 0.94, 0.97);
    border-color: transparent;
    border-left: 3px solid transparent;
    cursor: pointer;
    background-size: 200% 100%;
    background-position: 100% 0%;
    display: block;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    color: #999;
    margin-bottom: 4px;
  }

  .toggle-btn {
    background: #292A2A;
    margin-bottom: 8px;
    padding: 8px 0;
    height: 56px;
  }

  .menu-item:hover {
    border-color: transparent;
    border-left-color: #6BA41D;
  }

  .menu-item.active {
    background-color: #444;
    background-image: linear-gradient(to right, rgba(107,164,29,0.4),rgba(107,164,29,0.15) 10%,rgba(107,164,29,0) 50%);
    border-color: transparent;
    border-left-color: #6BA41D;
    background-position: 0% 0%;
  }
  .menu-item a {
    color: #FDFDFD;
    padding: 0 0.5em;
    display: block;
  }
  .menu-item .menu-label {
    font-size: 16px;
    text-indent: 0.5em;
    display: block;
    vertical-align: middle;
    text-decoration: none;
  }
  .menu-item>a>.menu-label {
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
    opacity: 0;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &.expanded .menu-item>a>.menu-label {
    opacity: 1;
  }
  .menu-item>a>.menu-icon {
    float: left;
    text-align: center;
    width: 40px;
    margin-top: 8px;

    &.fa-stack {
      margin-top: 3px;
    }
  }

  .menu-item a:hover {
    color: #FFF;
  }

  .menu-item a:active,
  .menu-item a:focus,
  .menu-item a:hover {
    text-decoration: none;
  }

  @media print {
    display: none;

    &.expanded+#content-wrapper {
      border-left: 0;
    }
  }

  @media all and (max-width: 650px) {
    display: none;

    &.expanded+#content-wrapper {
      border-left: 0;
    }
  }
}

#main-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.875em;
  line-height: 1.71429em;
  -webkit-transition: height 200ms ease-out,border-left-width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
  -moz-transition: height 200ms ease-out,border-left-width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
  -o-transition: height 200ms ease-out,border-left-width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
  transition: height 200ms ease-out,border-left-width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
  display: block;
  margin-bottom: 0;
  width: 100%;
  background: #585852;
  overflow: hidden;
  padding: 0 20px;

  #copy {
    float: right;
    color: #DEDEDE;
    padding:10px;
    border-left: 1px solid #696963;

    a {
      color: #DEDEDE;
    }

    .sponsor {
      line-height: 1em;
    }
  }

  @media print {
    display: none;
  }
}

.one-half {
  width: 50%;
  display: block;
  float: left;
}

.one-third {
  width: 33%;
  display: block;
  float: left;
}

.ok {       color: #288cfb; }
.warning {  color: #D48A00; }
.error {    color: #cd0a0a; }

#map-canvas img {
  max-width: none;
}

/****************************
 * Fixed right/left column with fluid center column
 ****************************/
.fixed-right,
.fixed-left {
  margin-bottom: 10px;
}

.fluid {
  overflow:hidden;
}

@media all and (min-width: 768px) {
  .fixed-right {
    float:right;
    width:240px;
    padding-left: 10px;
  }
  .fixed-left {
    float: left;
    width: 240px;
    padding-right: 10px;
  }
}

/****************************/
/* Standard Qualpay Form    */
/****************************/
::-webkit-input-placeholder {
  color:#999;
}
:-moz-placeholder {
  color:#999;
}
::-moz-placeholder {
  color:#999;
}
:-ms-input-placeholder {
  color:#999;
}

.qp-center {
  margin-left:auto;
  margin-right:auto;
}

.qp-text-center {
  text-align: center;
}

.qp-header {
  font-weight: bold;
  color: #333;
  background: #F6F6F6;
  padding: 14px 30px;
  display: block;
  border-top:1px solid #E6E6E6;
  border-left:1px solid #E6E6E6;
  border-right:1px solid #E6E6E6;
}

.qp-header .qp-header-icon {
  float: right;
  margin-left: 10px;
}

.qp-sub-header {
  font: 16px;
  font-weight: bold;
  color: #333;
  background: #F6F6F6;
  padding: 10px 20px;
  display: block;
}

.qp-font-large {
  font-weight: bolder;
  font-size: 1.5em;
}

.qp-box {
  border:1px solid #E6E6E6;
  padding: 10px;
}

.qp-box-plain {
  padding: 10px;
}

.qp-box .expanded,
.qp-box-plain .expanded {
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  -o-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  opacity: 1;
}

.qp-box .collapsed,
.qp-box-plain .collapsed {
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  opacity: 0;
}

.zebra .row:nth-child(even) {background: #F4F4F4}
.zebra .row:nth-child(odd) {background: inherit;}

.qp-gradient {
  background-image: linear-gradient(#F6F6F6, #FFF);
  padding: 14px;
}

/****************************
 * Responsive Styles
 ****************************/
.resp-half,
.l-resp-half,
.xl-resp-half {
  width: 100%;
  float: left;
}

.detail-row {
  margin: 6px;
  border-bottom: 1px solid #DEDBD3;
  overflow: hidden;
}

.detail-row label {
  width: 140px;
  float: left;
  text-align: right;
  font-weight: bold;
  padding-right: 6px;
  border-right: 1px solid #DEDBD3;
}

.detail-row div {
  margin-left: 150px;
}

.totals-row {
  background: #585852;
  color: #F1F1F1;
}

/****************************
 * Corner Styles
 ****************************/
.corner-all,
.corner-top,
.corner-left,
.corner-tl {
  border-top-left-radius: 4px;
}
.corner-all,
.corner-top,
.corner-right,
.corner-tr {
  border-top-right-radius: 4px;
}
.corner-all,
.corner-bottom,
.corner-left,
.corner-bl {
  border-bottom-left-radius: 4px;
}
.corner-all,
.corner-bottom,
.corner-right,
.corner-br {
  border-bottom-right-radius: 4px;
}

.circle,
.circle-top,
.circle-left,
.circle-tl {
  border-top-left-radius: 50%;
}
.circle,
.circle-top,
.circle-right,
.circle-tr {
  border-top-right-radius: 50%;
}
.circle,
.circle-bottom,
.circle-left,
.circle-bl {
  border-bottom-left-radius: 50%;
}
.circle,
.circle-bottom,
.circle-right,
.circle-br {
  border-bottom-right-radius: 50%;
}


/****************************
 * Alert Styles
 ****************************/
.ui-error {
  border: 1px solid #E6E6E6;
  background: #F6F6F6;
  border-left: 4px solid #cd0a0a;
}
.ui-error span {
  color: #cd0a0a;
}
.ui-warning {
  border: 1px solid #E6E6E6;
  background: #F6F6F6;
  border-left: 4px solid #D48A00;
}
.ui-warning i, .ui-warning h1 {
  display: inline;
  color: #D48A00;
}
.ui-info {
  border: 1px solid #E6E6E6;
  background: #F6F6F6;
  border-left: 4px solid #288cfb;
}
.ui-info span {
  color: #288cfb;
}


/****************************
 * Bootstrap Overrides      *
 ****************************/
// Keeps the modal from popping the background to the top of the page when opened.
body.modal-open {
  overflow: visible;
}

.btn {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-default {
  background: #EEE;
}
.btn-primary {
  color: #fff;
  background: rgba(107, 164, 29, 0.8);
  border-color: rgba(107, 164, 29, 1);
  font-weight: bold;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background: #666;
  border-color: #555;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background: rgba(107, 164, 29, 0.4);
  border-color: #6ba41d;
}

label {
  margin-bottom: inherit;
  font-weight: inherit;
}

.label-success {
  background-color: rgba(107, 164, 29, 0.8);
  border: 1px solid rgba(107, 164, 29, 1);
}

/****************************
* Sweet Alert overrides     *
*****************************/
.sweet-overlay, .sweet-alert{
    position: absolute!important;
}

/****************************
 * JSON Debugging           *
 ****************************/
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


/****************************
 * Glyphicons inside an input
 ****************************/
 .input-icon {
   position: relative;

   .right-icon-one { right: 10px;}
   .right-icon-two { right: 30px;}
   .right-icon-three { right: 50px;}
   .right-icon-four { right: 70px;}

   /* align icon */
   .left-icon > .fa  { left:  10px;}
   .right-icon > .fa { right: 10px;}

   /* add padding  */
   .left-icon ~ input, select{
     padding-left:  20px !important;
   }

   /* add padding  */
   &.left-icon > input,
   &.left-icon > select {
     padding-left:  30px !important;
   }

   &.right-icon > input,
   &.right-icon > select {
     padding-right: 30px !important;
   }

   /* style icon */
   > .fa {
     z-index: 10;
     position: absolute;
     padding: 10px 5px;
     cursor: pointer;
   }

 }




/****************************
 * Responsive Styling       *
 ****************************/
@media (min-width: 40em) {
  .content {

  }

  .qp-form .dropdown-menu {
    position: absolute;
    width: initial;
    -webkit-box-shadow: 10px 16px 64px rgba(0, 0, 0, .475);
            box-shadow: 10px 16px 64px rgba(0, 0, 0, .475);
  }

}

@media all and (min-width: 768px) {
  .resp-half {
    width: 49%;
  }
}

@media all and (min-width: 1024px) {
  .l-resp-half {
    width: 49%;
  }
}

@media all and (min-width: 1424px) {
  .xl-resp-half {
    width: 49%;
  }
}
