/*
 * Qualpay form styling.
 */
.qp-form {
  box-sizing: border-box; }
  .qp-form input[type="text"],
  .qp-form input[type="password"],
  .qp-form input[type="email"],
  .qp-form input[type="number"],
  .qp-form input[type="url"],
  .qp-form input[type="file"],
  .qp-form textarea,
  .qp-form select {
    color: #555;
    height: 34px;
    width: 100%;
    padding: 0px 16px 0px 10px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .qp-form textarea {
    height: 100px;
    padding-top: 10px; }
  .qp-form select::-ms-expand {
    display: none; }
  .qp-form select {
    background: url("../images/down-arrow.png") no-repeat right, -ms-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url("../images/down-arrow.png") no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url("../images/down-arrow.png") no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBFBFB), color-stop(100%, #E9E9E9));
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 100%;
    height: 34px;
    cursor: pointer; }
  .qp-form input[type="text"][disabled],
  .qp-form input[type="email"][disabled],
  .qp-form input[type="url"][disabled],
  .qp-form input[type="radio"][disabled],
  .qp-form input[type="radio"].disabled,
  .qp-form input[type="checkbox"].disabled,
  .qp-form input[type="password"][disabled],
  .qp-form input[type="number"][disabled],
  .qp-form input[type="file"][disabled],
  .qp-form select[disabled],
  .qp-form textarea[disabled],
  .qp-form fieldset[disabled] input[type="radio"],
  .qp-form fieldset[disabled] input[type="checkbox"] {
    color: #999;
    cursor: not-allowed;
    background: #FFF; }

/*
 * qp-form error coloring will only apply if inputs are nested in a qp-form-colors class.
 */
.qp-form-colors input[type="text"].ng-invalid.ng-dirty,
.qp-form-colors input[type="email"].ng-invalid.ng-dirty,
.qp-form-colors input[type="number"].ng-invalid.ng-dirty,
.qp-form-colors input[type="url"].ng-invalid.ng-dirty,
.qp-form-colors input[type="password"].ng-invalid.ng-dirty,
.qp-form-colors input[type="file"].ng-invalid.ng-dirty,
.qp-form-colors textarea.ng-invalid.ng-dirty,
.qp-form-colors select.ng-invalid.ng-dirty {
  border: 1px solid #C87272;
  background: url("../../shared/images/warn.png") no-repeat right;
  box-shadow: 0 0 3px #C87272; }

/*# sourceMappingURL=qp-form.css.map */
