/****************************
 * Qualpay Shared SCSS
 ****************************/
.text-gold {
  color: #DAA520; }

.text-dark-red {
  color: #B20000; }

.text-blue {
  color: #1b95e0; }

.qp-green {
  color: #6BA41D; }

.qp-red {
  color: #BB4444; }

.grey {
  color: #999; }

.white {
  color: #fff; }

.black {
  color: #333; }

/****************************/
/* Grid Style               */
/****************************/
.grid-tenth, .grid-nineth, .grid-eighth, .grid-seventh, .grid-sixth, .grid-fifth, .grid-fourth, .grid-third, .grid-two-fifths, .grid-three-sevenths, .grid-half, .grid-three-fifths, .grid-two-thirds, .grid-three-fourths, .grid-four-fifths, .grid-full {
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px; }

.grid-tenth:last-child,
.grid-nineth:last-child,
.grid-eighth:last-child,
.grid-seventh:last-child,
.grid-sixth:last-child,
.grid-fifth:last-child,
.grid-fourth:last-child,
.grid-third:last-child,
.grid-two-fifths:last-child,
.grid-three-sevenths:last-child,
.grid-half:last-child,
.grid-three-fifths:last-child,
.grid-two-thirds:last-child,
.grid-three-fourths:last-child,
.grid-four-fifths:last-child,
.grid-full:last-child {
  margin-bottom: 0px; }

.grid-tenth.strong,
.grid-nineth.strong,
.grid-eighth.strong,
.grid-seventh.strong,
.grid-sixth.strong,
.grid-fifth.strong,
.grid-fourth.strong,
.grid-third.strong,
.grid-two-fifths.strong,
.grid-three-sevenths.strong,
.grid-half.strong,
.grid-three-fifths.strong,
.grid-two-thirds.strong,
.grid-three-fourths.strong,
.grid-four-fifths.strong,
.grid-full.strong {
  font-weight: bold; }

.row .text-right,
.row .text-center {
  text-align: left; }

.row,
.row-single,
.row-xxsmall,
.row-xsmall,
.row-small,
.row-large,
.row-xlarge {
  margin-left: -10px;
  margin-right: -10px; }

.row,
.row-xxsmall,
.row-xsmall,
.row-small,
.row-large,
.row-xlarge {
  margin-bottom: 10px; }

.row:last-child,
.row-xxsmall:last-child,
.row-xsmall:last-child,
.row-small:last-child,
.row-large:last-child,
.row-xlarge:last-child {
  margin-bottom: 0px; }

.row:after,
.row-single:after,
.row-xxsmall:after,
.row-xsmall:after,
.row-small:after,
.row-large:after,
.row-xlarge:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* Reverses order of grid for content choreography */
.grid-flip {
  float: right; }

.grid-header {
  font-weight: 600; }

/* Grid responsive style */
@media (min-width: 10em) {
  margin-bottom: 0;
  .row-xxsmall .text-right {
    text-align: right; }

  .row-xxsmall .text-center {
    text-align: center; }

  .row-xxsmall .grid-tenth {
    width: 10%;
    margin-bottom: 0; }

  .row-xxsmall .grid-nineth {
    width: 11.1%;
    margin-bottom: 0; }

  .row-xxsmall .grid-eighth {
    width: 12.5%;
    margin-bottom: 0; }

  .row-xxsmall .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0; }

  .row-xxsmall .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0; }

  .row-xxsmall .grid-fifth {
    width: 20%;
    margin-bottom: 0; }

  .row-xxsmall .grid-fourth {
    width: 25%;
    margin-bottom: 0; }

  .row-xxsmall .grid-third {
    width: 33.33333%;
    margin-bottom: 0; }

  .row-xxsmall .grid-two-fifths {
    width: 40%;
    margin-bottom: 0; }

  .row-xxsmall .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row-xxsmall .grid-half {
    width: 50%;
    margin-bottom: 0; }

  .row-xxsmall .grid-three-fifths {
    width: 60%;
    margin-bottom: 0; }

  .row-xxsmall .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0; }

  .row-xxsmall .grid-three-fourths {
    width: 75%;
    margin-bottom: 0; }

  .row-xxsmall .grid-four-fifths {
    width: 80%;
    margin-bottom: 0; }

  .row-xxsmall .grid-full {
    width: 100%;
    margin-bottom: 0; } }
@media (min-width: 20em) {
  margin-bottom: 0;
  .row-xsmall .text-right {
    text-align: right; }

  .row-xsmall .text-center {
    text-align: center; }

  .row-xsmall .grid-tenth {
    width: 10%;
    margin-bottom: 0; }

  .row-xsmall .grid-nineth {
    width: 11.1%;
    margin-bottom: 0; }

  .row-xsmall .grid-eighth {
    width: 12.5%;
    margin-bottom: 0; }

  .row-xsmall .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0; }

  .row-xsmall .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0; }

  .row-xsmall .grid-fifth {
    width: 20%;
    margin-bottom: 0; }

  .row-xsmall .grid-fourth {
    width: 25%;
    margin-bottom: 0; }

  .row-xsmall .grid-third {
    width: 33.33333%;
    margin-bottom: 0; }

  .row-xsmall .grid-two-fifths {
    width: 40%;
    margin-bottom: 0; }

  .row-xsmall .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row-xsmall .grid-half {
    width: 50%;
    margin-bottom: 0; }

  .row-xsmall .grid-three-fifths {
    width: 60%;
    margin-bottom: 0; }

  .row-xsmall .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0; }

  .row-xsmall .grid-three-fourths {
    width: 75%;
    margin-bottom: 0; }

  .row-xsmall .grid-four-fifths {
    width: 80%;
    margin-bottom: 0; }

  .row-xsmall .grid-full {
    width: 100%;
    margin-bottom: 0; } }
@media (min-width: 30em) {
  margin-bottom: 0;
  .row-small .text-right {
    text-align: right; }

  .row-small .text-center {
    text-align: center; }

  .row-small .grid-tenth {
    width: 10%;
    margin-bottom: 0; }

  .row-small .grid-nineth {
    width: 11.1%;
    margin-bottom: 0; }

  .row-small .grid-eighth {
    width: 12.5%;
    margin-bottom: 0; }

  .row-small .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0; }

  .row-small .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0; }

  .row-small .grid-fifth {
    width: 20%;
    margin-bottom: 0; }

  .row-small .grid-fourth {
    width: 25%;
    margin-bottom: 0; }

  .row-small .grid-third {
    width: 33.33333%;
    margin-bottom: 0; }

  .row-small .grid-two-fifths {
    width: 40%;
    margin-bottom: 0; }

  .row-small .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row-small .grid-half {
    width: 50%;
    margin-bottom: 0; }

  .row-small .grid-three-fifths {
    width: 60%;
    margin-bottom: 0; }

  .row-small .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0; }

  .row-small .grid-three-fourths {
    width: 75%;
    margin-bottom: 0; }

  .row-small .grid-four-fifths {
    width: 80%;
    margin-bottom: 0; }

  .row-small .grid-full {
    width: 100%;
    margin-bottom: 0; } }
@media (min-width: 40em) {
  .row .text-right {
    text-align: right; }

  .row .text-center {
    text-align: center; }

  .row .grid-tenth {
    width: 10%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-nineth {
    width: 11.1%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-eighth {
    width: 12.5%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-fifth {
    width: 20%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-fourth {
    width: 25%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-third {
    width: 33.33333%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-two-fifths {
    width: 40%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row .grid-half {
    width: 50%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-three-fifths {
    width: 60%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-three-fourths {
    width: 75%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-four-fifths {
    width: 80%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .row .grid-full {
    width: 100%;
    margin-bottom: 0;
    margin-bottom: 0; }

  .offset-fourth {
    margin-left: 25%; }

  .offset-third {
    margin-left: 33.33333%; }

  .offset-half {
    margin-left: 50%; }

  .offset-two-thirds {
    margin-left: 66.66667%; }

  .offset-three-fourths {
    margin-left: 75%; }

  .offset-full {
    margin-left: 100%; } }
@media (min-width: 70em) {
  .row-large .text-right {
    text-align: right; }

  .row-large .text-center {
    text-align: center; }

  .row-large .grid-tenth {
    width: 10%;
    margin-bottom: 0; }

  .row-large .grid-nineth {
    width: 11.1%;
    margin-bottom: 0; }

  .row-large .grid-eighth {
    width: 12.5%;
    margin-bottom: 0; }

  .row-large .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0; }

  .row-large .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0; }

  .row-large .grid-fifth {
    width: 20%;
    margin-bottom: 0; }

  .row-large .grid-fourth {
    width: 25%;
    margin-bottom: 0; }

  .row-large .grid-third {
    width: 33.33333%;
    margin-bottom: 0; }

  .row-large .grid-two-fifths {
    width: 40%;
    margin-bottom: 0; }

  .row-large .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row-large .grid-half {
    width: 50%;
    margin-bottom: 0; }

  .row-large .grid-three-fifths {
    width: 60%;
    margin-bottom: 0; }

  .row-large .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0; }

  .row-large .grid-three-fourths {
    width: 75%;
    margin-bottom: 0; }

  .row-large .grid-four-fifths {
    width: 80%;
    margin-bottom: 0; }

  .row-large .grid-full {
    width: 100%;
    margin-bottom: 0; } }
@media (min-width: 90em) {
  .row-xlarge .text-right {
    text-align: right; }

  .row-xlarge .text-center {
    text-align: center; }

  .row-xlarge .grid-tenth {
    width: 10%;
    margin-bottom: 0; }

  .row-xlarge .grid-nineth {
    width: 11.1%;
    margin-bottom: 0; }

  .row-xlarge .grid-eighth {
    width: 12.5%;
    margin-bottom: 0; }

  .row-xlarge .grid-seventh {
    width: 14.28571%;
    margin-bottom: 0; }

  .row-xlarge .grid-sixth {
    width: 16.66667%;
    margin-bottom: 0; }

  .row-xlarge .grid-fifth {
    width: 20%;
    margin-bottom: 0; }

  .row-xlarge .grid-fourth {
    width: 25%;
    margin-bottom: 0; }

  .row-xlarge .grid-third {
    width: 33.33333%;
    margin-bottom: 0; }

  .row-xlarge .grid-two-fifths {
    width: 40%;
    margin-bottom: 0; }

  .row-xlarge .grid-three-sevenths {
    width: 42.85714%;
    margin-bottom: 0; }

  .row-xlarge .grid-half {
    width: 50%;
    margin-bottom: 0; }

  .row-xlarge .grid-three-fifths {
    width: 60%;
    margin-bottom: 0; }

  .row-xlarge .grid-two-thirds {
    width: 66.66667%;
    margin-bottom: 0; }

  .row-xlarge .grid-three-fourths {
    width: 75%;
    margin-bottom: 0; }

  .row-xlarge .grid-four-fifths {
    width: 80%;
    margin-bottom: 0; }

  .row-xlarge .grid-full {
    width: 100%;
    margin-bottom: 0; } }
.qp-table {
  width: 100%;
  margin-bottom: 1em;
  /*
  tfoot td {
  text-align: center;
  }
  @media (min-width: 62em) {
  tfoot {
  font-size: .9em;
  }
  }*/
  /* Custom qp-report styles */
  /* Animations */ }
  .qp-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden; }
  .qp-table thead th {
    background-color: rgba(107, 164, 29, 0.8);
    border: 1px solid rgba(107, 164, 29, 0.4);
    text-align: center;
    color: white; }
  .qp-table thead th:first-of-type {
    text-align: left; }
  .qp-table tbody,
  .qp-table tr,
  .qp-table th,
  .qp-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal; }
  .qp-table th,
  .qp-table td {
    padding: .5em;
    vertical-align: middle; }
  .qp-table tfoot {
    font-style: italic; }
  .qp-table tbody tr {
    margin-bottom: 1em;
    border: 2px solid #6BA41D;
    cursor: pointer; }
  .qp-table tfoot tr {
    margin-top: 1em; }
  .qp-table tbody tr:last-of-type {
    margin-bottom: 0; }
  .qp-table tbody th[scope="row"],
  .qp-table tfoot th[scope="row"] {
    background-color: #6BA41D;
    color: white; }
  .qp-table tbody td,
  .qp-table tfoot td {
    text-align: right; }
  .qp-table tfoot th:empty,
  .qp-table tfoot td:empty {
    display: none; }
  .qp-table tbody td[data-type=currency] {
    text-align: right; }
  .qp-table tfoot td[data-type=currency] {
    text-align: right; }
  .qp-table tbody td[data-title]:before,
  .qp-table tfoot td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: .8em;
    color: rgba(94, 93, 82, 0.75); }
  @media (min-width: 30em) {
    .qp-table th,
    .qp-table td {
      padding: .75em .5em; }
    .qp-table tbody td {
      border-bottom: 1px solid #CCC; }
    .qp-table tbody td[data-title]:before,
    .qp-table tfoot td[data-title]:before {
      font-size: .9em; } }
  @media (min-width: 48em) {
    .qp-table {
      font-size: .9em; }
      .qp-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto; }
      .qp-table tr {
        display: table-row; }
      .qp-table tbody {
        display: table-row-group; }
      .qp-table tbody tr,
      .qp-table tfoot tr {
        display: table-row;
        border-width: 1px; }
      .qp-table tfoot th:empty,
      .qp-table tfoot td:empty {
        display: table-cell !important; }
      .qp-table th,
      .qp-table td {
        display: table-cell;
        padding: .5em; }
      .qp-table tbody th[scope="row"],
      .qp-table tfoot th[scope="row"] {
        background-color: transparent;
        color: #333;
        text-align: left; }
      .qp-table tbody th[scope="row"] {
        border-bottom: 1px solid #CCC; }
      .qp-table tbody tr:nth-of-type(even) {
        background-color: rgba(94, 93, 82, 0.1); }
      .qp-table tbody tr.selected {
        background-color: #C6C6C6; }
      .qp-table tbody tr:hover {
        /*background-color: #E2FFD9 !important;*/
        background-color: #d0e4b5 !important; }
      .qp-table tbody td,
      .qp-table tfoot td {
        text-align: center; }
      .qp-table tbody th[data-align=right],
      .qp-table tbody td[data-align=right],
      .qp-table tfoot th[data-align=right],
      .qp-table tfoot td[data-align=right] {
        text-align: right; }
      .qp-table tbody td[data-title]:before,
      .qp-table tfoot td[data-title]:before {
        content: none; } }
  @media (min-width: 62em) {
    .qp-table {
      font-size: 1em; }
      .qp-table th,
      .qp-table td {
        padding: .75em .5em; } }
  @media (min-width: 75em) {
    .qp-table th,
    .qp-table td {
      padding: .75em; } }
  @media print {
    .qp-table {
      font-size: 0.7em; }
      .qp-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto; }
      .qp-table thead th {
        border: none;
        border-bottom: 2px solid black; }
      .qp-table tbody tr {
        border: none;
        border-bottom: 1px solid black; }
      .qp-table tr {
        display: table-row; }
      .qp-table tbody {
        display: table-row-group; }
      .qp-table tbody tr,
      .qp-table tfoot tr {
        display: table-row;
        border-width: 1px; }
      .qp-table tfoot th:empty,
      .qp-table tfoot td:empty {
        display: table-cell !important; }
      .qp-table th,
      .qp-table td {
        display: table-cell;
        padding: .5em; }
      .qp-table tbody th[scope="row"],
      .qp-table tfoot th[scope="row"] {
        background-color: transparent;
        color: #333;
        text-align: left; }
      .qp-table tbody th[scope="row"] {
        border-bottom: 1px solid #CCC; }
      .qp-table tbody td,
      .qp-table tfoot td {
        text-align: center; }
      .qp-table tbody th[data-align=right],
      .qp-table tbody td[data-align=right],
      .qp-table tfoot th[data-align=right],
      .qp-table tfoot td[data-align=right] {
        text-align: right; }
      .qp-table tbody td[data-title]:before,
      .qp-table tfoot td[data-title]:before {
        content: none; } }
  @media (min-width: 48em) {
    .qp-table .history-user {
      vertical-align: top;
      width: 125px;
      text-align: center !important; }
    .qp-table .history-message {
      text-align: left; }
    .qp-table .qp-text-left {
      text-align: left; }
    .qp-table .qp-text-right {
      text-align: right; } }
  .qp-table .ng-enter {
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    opacity: 0; }
  .qp-table .ng-enter-active {
    opacity: 1; }

/*
 * Qualpay form styling.
 */
.qp-form {
  box-sizing: border-box; }
  .qp-form input[type="text"],
  .qp-form input[type="password"],
  .qp-form input[type="email"],
  .qp-form input[type="number"],
  .qp-form input[type="url"],
  .qp-form input[type="file"],
  .qp-form textarea,
  .qp-form select {
    color: #555;
    height: 34px;
    width: 100%;
    padding: 0px 16px 0px 10px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .qp-form textarea {
    height: 100px;
    padding-top: 10px; }
  .qp-form select::-ms-expand {
    display: none; }
  .qp-form select {
    background: url("../images/down-arrow.png") no-repeat right, -ms-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url("../images/down-arrow.png") no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url("../images/down-arrow.png") no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBFBFB), color-stop(100%, #E9E9E9));
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 100%;
    height: 34px;
    cursor: pointer; }
  .qp-form input[type="text"][disabled],
  .qp-form input[type="email"][disabled],
  .qp-form input[type="url"][disabled],
  .qp-form input[type="radio"][disabled],
  .qp-form input[type="radio"].disabled,
  .qp-form input[type="checkbox"].disabled,
  .qp-form input[type="password"][disabled],
  .qp-form input[type="number"][disabled],
  .qp-form input[type="file"][disabled],
  .qp-form select[disabled],
  .qp-form textarea[disabled],
  .qp-form fieldset[disabled] input[type="radio"],
  .qp-form fieldset[disabled] input[type="checkbox"] {
    color: #999;
    cursor: not-allowed;
    background: #FFF; }

/*
 * qp-form error coloring will only apply if inputs are nested in a qp-form-colors class.
 */
.qp-form-colors input[type="text"].ng-invalid.ng-dirty,
.qp-form-colors input[type="email"].ng-invalid.ng-dirty,
.qp-form-colors input[type="number"].ng-invalid.ng-dirty,
.qp-form-colors input[type="url"].ng-invalid.ng-dirty,
.qp-form-colors input[type="password"].ng-invalid.ng-dirty,
.qp-form-colors input[type="file"].ng-invalid.ng-dirty,
.qp-form-colors textarea.ng-invalid.ng-dirty,
.qp-form-colors select.ng-invalid.ng-dirty {
  border: 1px solid #C87272;
  background: url("../../shared/images/warn.png") no-repeat right;
  box-shadow: 0 0 3px #C87272; }

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #FFF; }

a {
  cursor: pointer; }

html, body {
  height: 100%; }

.content {
  padding: 14px 10px 148px 10px; }

.clear {
  clear: both; }

.inline {
  display: inline; }

.italic {
  font-style: italic; }

.text-color-qualpay {
  color: #6BA41D; }

.text-color-grey {
  color: #333; }

.text-color-black {
  color: #000; }

.margin-bottom {
  margin-bottom: 10px; }

.margin-bottom-l {
  margin-bottom: 30px; }

.margin-bottom-xl {
  margin-bottom: 50px; }

.strong {
  font-weight: bold; }

.qp-right {
  position: absolute;
  top: 0;
  right: 0; }

.popover {
  width: 200px; }

.popover-content {
  white-space: normal; }

#payment_form {
  padding: 10px; }

#payment_form label {
  display: block;
  margin-top: 6px; }

#application {
  min-height: 100%; }

#application #container {
  padding-bottom: 40px; }

#root, #preloader {
  -webkit-transition: opacity 600ms ease-in;
  -moz-transition: opacity 600ms ease-in;
  -o-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in;
  opacity: 1; }

body.firstload:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

body.firstload #preloader {
  display: inline-block;
  opacity: 1;
  text-align: center; }

body #preloader {
  opacity: 0;
  display: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px; }

body.firstload #root {
  opacity: 0;
  visibility: hidden; }

#root {
  min-width: 320px;
  position: relative;
  height: 100%;
  background-color: white; }

#main-header {
  color: #DDD;
  webkit-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.25);
  display: block;
  position: relative;
  top: 0;
  height: 64px;
  width: 100%;
  min-width: 320px;
  background: #585852; }
  #main-header .mobile-subheader {
    display: none; }
  #main-header #logo {
    height: 64px;
    float: left;
    padding: 10px; }
  #main-header .toolbar,
  #main-header .profile,
  #main-header .profile-nav {
    float: left;
    position: relative;
    height: 64px;
    border-left: 1px solid #696963; }
  #main-header .mid-selector .input-icon select {
    background: #66665F;
    color: #DDD;
    border: 1px solid #464646;
    width: 100%;
    padding-right: 30px; }
  #main-header .mid-selector .input-icon .fa-sort {
    pointer-events: none; }
  #main-header .mid-selector .input-icon > .fader {
    position: absolute;
    width: 40px;
    top: 3px;
    right: 30px;
    height: 28px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #66665F 100%);
    pointer-events: none; }
  @media (min-width: 650px) {
    #main-header .mid-selector .input-icon select {
      width: 184px;
      -webkit-transition: width 0.5s cubic-bezier(0.34, -0.35, 0.26, 1.3);
      -moz-transition: width 0.5s cubic-bezier(0.34, -0.35, 0.26, 1.3);
      -o-transition: width 0.5s cubic-bezier(0.34, -0.35, 0.26, 1.3);
      transition: width 0.5s cubic-bezier(0.34, -0.35, 0.26, 1.3); }
      #main-header .mid-selector .input-icon select.loaded {
        width: 260px; } }
  @media (min-width: 815px) {
    #main-header .mid-selector .input-icon select {
      width: 184px;
      transition: width 0.5s cubic-bezier(0.34, -0.35, 0.26, 1.3); }
      #main-header .mid-selector .input-icon select.loaded {
        width: 400px; } }
  #main-header .toolbar,
  #main-header .profile {
    margin-right: 20px;
    padding-left: 20px; }
  #main-header .single-line {
    line-height: 64px; }
  #main-header .double-line {
    padding-top: 4px; }
  @media all and (max-width: 650px) {
    #main-header .mobile-subheader {
      float: left;
      display: block;
      height: 64px;
      background-color: #444;
      width: 100%;
      padding: 4px 10px; }
    #main-header #header-right {
      display: none; }
    #main-header #logo {
      margin-left: 64px; } }
  @media print {
    #main-header {
      display: none; } }

.profile .user-info {
  min-width: 200px; }

.profile-nav .nav-toggle {
  display: block;
  z-index: 200;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out; }
.profile-nav .nav-toggle span {
  line-height: 64px;
  width: 64px;
  text-align: center; }
.profile-nav .open .nav-toggle {
  background-color: #6BA41D; }
.profile-nav .drop-down {
  -webkit-transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), top 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
  -moz-transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), top 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
  -o-transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), top 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
  transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), top 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
  font-size: 0.875em;
  line-height: 1.71429em;
  position: absolute;
  right: 0;
  padding: 0;
  top: -300px;
  width: 200px;
  opacity: 0;
  background-color: #333;
  z-index: 10; }
.profile-nav .open .drop-down {
  opacity: 1;
  top: 64px; }
.profile-nav .drop-down li {
  height: 48px;
  padding: 3px 0; }
.profile-nav .drop-down a {
  border-left: 3px solid transparent; }
.profile-nav .drop-down li,
.profile-nav .drop-down a {
  line-height: 48px;
  height: 48px; }
.profile-nav .drop-down li {
  background-color: #333;
  border-top: 1px solid #444; }
.profile-nav .drop-down li:first-child {
  border-top: none; }
.profile-nav .drop-down a {
  color: #FDFDFD;
  padding: 0 1em;
  display: block; }
.profile-nav .drop-down a:active,
.profile-nav .drop-down a:focus,
.profile-nav .drop-down a:hover {
  text-decoration: none; }
.profile-nav .drop-down i {
  width: 40px;
  height: 100%;
  float: left;
  font-size: 27px;
  line-height: 48px;
  color: #FDFDFD;
  text-indent: 3px; }

#mobile-nav {
  display: none;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0; }
  #mobile-nav .nav-toggle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
    background-color: #585852;
    display: block;
    width: 100%;
    height: 100%;
    border-right: 1px solid #7A7A74;
    text-align: center; }
  #mobile-nav .nav-toggle i {
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 27px;
    line-height: 64px;
    color: #fefefe; }
  #mobile-nav .slide-out {
    -webkit-transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), left 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), border-color 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
    -moz-transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), left 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), border-color 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
    -o-transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), left 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), border-color 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
    transition: opacity 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), left 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95), border-color 0.5s cubic-bezier(0.06, 0.95, 0.09, 0.95);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 250px;
    position: relative;
    left: -250px;
    z-index: 1000; }
  #mobile-nav .slide-out li {
    height: 48px;
    padding: 3px 0; }
  #mobile-nav .slide-out a {
    border-left: 3px solid transparent; }
  #mobile-nav .slide-out li, #mobile-nav #mobile-nav .slide-out a {
    line-height: 48px;
    height: 48px; }
  #mobile-nav .slide-out li {
    background-color: #333;
    border-top: 1px solid #444; }
  #mobile-nav .slide-out li:first-child {
    border-top: none; }
  #mobile-nav .slide-out a {
    color: #FDFDFD;
    padding: 0 0.5em;
    display: block; }
  #mobile-nav .slide-out a:active,
  #mobile-nav .slide-out a:focus,
  #mobile-nav .slide-out a:hover {
    text-decoration: none; }
  #mobile-nav .menu-item .menu-label {
    font-size: 16px;
    text-indent: 0.5em;
    display: block;
    vertical-align: middle;
    text-decoration: none; }
  #mobile-nav .menu-item > a > .menu-icon {
    float: left;
    text-align: center;
    line-height: 40px;
    width: 40px; }
  #mobile-nav .slide-out li.active .menu-icon {
    color: #6BA41D; }
  #mobile-nav .slide-out li.active a {
    color: #FDFDFD;
    border-left: 3px solid #6BA41D; }
  #mobile-nav .open .nav-toggle {
    background-color: #6BA41D; }
  #mobile-nav .open .slide-out {
    left: 0;
    opacity: 1; }
  #mobile-nav.open .nav-toggle {
    background-color: #6BA41D; }
  #mobile-nav.open .slide-out {
    left: 0;
    opacity: 1; }
  @media all and (max-width: 650px) {
    #mobile-nav {
      display: block; } }

#page-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  z-index: 1;
  clear: both; }

#content-wrapper {
  width: 100%;
  position: relative;
  float: left;
  border-left: 64px solid #333;
  -webkit-transition: border-left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), opacity 0.2s ease-out;
  -moz-transition: border-left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), opacity 0.2s ease-out;
  -o-transition: border-left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), opacity 0.2s ease-out;
  transition: border-left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), opacity 0.2s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden; }
  #content-wrapper.ng-enter {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    -webkit-transition-delay: 0.22s;
    transition-delay: 0.22s; }
  #content-wrapper.ng-enter-active {
    opacity: 1; }
  #content-wrapper.ng-leave {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 1; }
  #content-wrapper.ng-leave-active {
    opacity: 0; }
  @media all and (max-width: 650px) {
    #content-wrapper {
      border-left: 0; } }

#side-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  position: absolute;
  background: #333;
  width: 64px;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1; }
  #side-nav.expanded {
    -webkit-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    -moz-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    -o-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    width: 200px; }
  #side-nav.collapsed {
    -webkit-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    -moz-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    -o-transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    transition: left 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3), width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
    width: 64px; }
  #side-nav.fixed {
    position: fixed;
    -webkit-backface-visibility: hidden; }
  #side-nav.expanded + #content-wrapper {
    border-left: 200px solid #333; }
  #side-nav ul, #side-nav li {
    margin: 0;
    padding: 0; }
  #side-nav .menu-item {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97), border-color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97), background-position 0.5s cubic-bezier(0, 0.91, 0.94, 0.97);
    -moz-transition: color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97), border-color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97), background-position 0.5s cubic-bezier(0, 0.91, 0.94, 0.97);
    -o-transition: color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97), border-color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97), background-position 0.5s cubic-bezier(0, 0.91, 0.94, 0.97);
    transition: color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97), border-color 0.5s cubic-bezier(0, 0.91, 0.94, 0.97), background-position 0.5s cubic-bezier(0, 0.91, 0.94, 0.97);
    border-color: transparent;
    border-left: 3px solid transparent;
    cursor: pointer;
    background-size: 200% 100%;
    background-position: 100% 0%;
    display: block;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    color: #999;
    margin-bottom: 4px; }
  #side-nav .toggle-btn {
    background: #292A2A;
    margin-bottom: 8px;
    padding: 8px 0;
    height: 56px; }
  #side-nav .menu-item:hover {
    border-color: transparent;
    border-left-color: #6BA41D; }
  #side-nav .menu-item.active {
    background-color: #444;
    background-image: linear-gradient(to right, rgba(107, 164, 29, 0.4), rgba(107, 164, 29, 0.15) 10%, rgba(107, 164, 29, 0) 50%);
    border-color: transparent;
    border-left-color: #6BA41D;
    background-position: 0% 0%; }
  #side-nav .menu-item a {
    color: #FDFDFD;
    padding: 0 0.5em;
    display: block; }
  #side-nav .menu-item .menu-label {
    font-size: 16px;
    text-indent: 0.5em;
    display: block;
    vertical-align: middle;
    text-decoration: none; }
  #side-nav .menu-item > a > .menu-label {
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
    opacity: 0;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap; }
  #side-nav.expanded .menu-item > a > .menu-label {
    opacity: 1; }
  #side-nav .menu-item > a > .menu-icon {
    float: left;
    text-align: center;
    width: 40px;
    margin-top: 8px; }
    #side-nav .menu-item > a > .menu-icon.fa-stack {
      margin-top: 3px; }
  #side-nav .menu-item a:hover {
    color: #FFF; }
  #side-nav .menu-item a:active,
  #side-nav .menu-item a:focus,
  #side-nav .menu-item a:hover {
    text-decoration: none; }
  @media print {
    #side-nav {
      display: none; }
      #side-nav.expanded + #content-wrapper {
        border-left: 0; } }
  @media all and (max-width: 650px) {
    #side-nav {
      display: none; }
      #side-nav.expanded + #content-wrapper {
        border-left: 0; } }

#main-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.875em;
  line-height: 1.71429em;
  -webkit-transition: height 200ms ease-out, border-left-width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
  -moz-transition: height 200ms ease-out, border-left-width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
  -o-transition: height 200ms ease-out, border-left-width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
  transition: height 200ms ease-out, border-left-width 0.4s cubic-bezier(0.34, -0.35, 0.26, 1.3);
  display: block;
  margin-bottom: 0;
  width: 100%;
  background: #585852;
  overflow: hidden;
  padding: 0 20px; }
  #main-footer #copy {
    float: right;
    color: #DEDEDE;
    padding: 10px;
    border-left: 1px solid #696963; }
    #main-footer #copy a {
      color: #DEDEDE; }
    #main-footer #copy .sponsor {
      line-height: 1em; }
  @media print {
    #main-footer {
      display: none; } }

.one-half {
  width: 50%;
  display: block;
  float: left; }

.one-third {
  width: 33%;
  display: block;
  float: left; }

.ok {
  color: #288cfb; }

.warning {
  color: #D48A00; }

.error {
  color: #cd0a0a; }

#map-canvas img {
  max-width: none; }

/****************************
 * Fixed right/left column with fluid center column
 ****************************/
.fixed-right,
.fixed-left {
  margin-bottom: 10px; }

.fluid {
  overflow: hidden; }

@media all and (min-width: 768px) {
  .fixed-right {
    float: right;
    width: 240px;
    padding-left: 10px; }

  .fixed-left {
    float: left;
    width: 240px;
    padding-right: 10px; } }
/****************************/
/* Standard Qualpay Form    */
/****************************/
::-webkit-input-placeholder {
  color: #999; }

:-moz-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

.qp-center {
  margin-left: auto;
  margin-right: auto; }

.qp-text-center {
  text-align: center; }

.qp-header {
  font-weight: bold;
  color: #333;
  background: #F6F6F6;
  padding: 14px 30px;
  display: block;
  border-top: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6; }

.qp-header .qp-header-icon {
  float: right;
  margin-left: 10px; }

.qp-sub-header {
  font: 16px;
  font-weight: bold;
  color: #333;
  background: #F6F6F6;
  padding: 10px 20px;
  display: block; }

.qp-font-large {
  font-weight: bolder;
  font-size: 1.5em; }

.qp-box {
  border: 1px solid #E6E6E6;
  padding: 10px; }

.qp-box-plain {
  padding: 10px; }

.qp-box .expanded,
.qp-box-plain .expanded {
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  -o-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  opacity: 1; }

.qp-box .collapsed,
.qp-box-plain .collapsed {
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  opacity: 0; }

.zebra .row:nth-child(even) {
  background: #F4F4F4; }

.zebra .row:nth-child(odd) {
  background: inherit; }

.qp-gradient {
  background-image: linear-gradient(#F6F6F6, #FFF);
  padding: 14px; }

/****************************
 * Responsive Styles
 ****************************/
.resp-half,
.l-resp-half,
.xl-resp-half {
  width: 100%;
  float: left; }

.detail-row {
  margin: 6px;
  border-bottom: 1px solid #DEDBD3;
  overflow: hidden; }

.detail-row label {
  width: 140px;
  float: left;
  text-align: right;
  font-weight: bold;
  padding-right: 6px;
  border-right: 1px solid #DEDBD3; }

.detail-row div {
  margin-left: 150px; }

.totals-row {
  background: #585852;
  color: #F1F1F1; }

/****************************
 * Corner Styles
 ****************************/
.corner-all,
.corner-top,
.corner-left,
.corner-tl {
  border-top-left-radius: 4px; }

.corner-all,
.corner-top,
.corner-right,
.corner-tr {
  border-top-right-radius: 4px; }

.corner-all,
.corner-bottom,
.corner-left,
.corner-bl {
  border-bottom-left-radius: 4px; }

.corner-all,
.corner-bottom,
.corner-right,
.corner-br {
  border-bottom-right-radius: 4px; }

.circle,
.circle-top,
.circle-left,
.circle-tl {
  border-top-left-radius: 50%; }

.circle,
.circle-top,
.circle-right,
.circle-tr {
  border-top-right-radius: 50%; }

.circle,
.circle-bottom,
.circle-left,
.circle-bl {
  border-bottom-left-radius: 50%; }

.circle,
.circle-bottom,
.circle-right,
.circle-br {
  border-bottom-right-radius: 50%; }

/****************************
 * Alert Styles
 ****************************/
.ui-error {
  border: 1px solid #E6E6E6;
  background: #F6F6F6;
  border-left: 4px solid #cd0a0a; }

.ui-error span {
  color: #cd0a0a; }

.ui-warning {
  border: 1px solid #E6E6E6;
  background: #F6F6F6;
  border-left: 4px solid #D48A00; }

.ui-warning i, .ui-warning h1 {
  display: inline;
  color: #D48A00; }

.ui-info {
  border: 1px solid #E6E6E6;
  background: #F6F6F6;
  border-left: 4px solid #288cfb; }

.ui-info span {
  color: #288cfb; }

/****************************
 * Bootstrap Overrides      *
 ****************************/
body.modal-open {
  overflow: visible; }

.btn {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.btn-default {
  background: #EEE; }

.btn-primary {
  color: #fff;
  background: rgba(107, 164, 29, 0.8);
  border-color: #6ba41d;
  font-weight: bold; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background: #666;
  border-color: #555; }

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background: rgba(107, 164, 29, 0.4);
  border-color: #6ba41d; }

label {
  margin-bottom: inherit;
  font-weight: inherit; }

.label-success {
  background-color: rgba(107, 164, 29, 0.8);
  border: 1px solid #6ba41d; }

/****************************
* Sweet Alert overrides     *
*****************************/
.sweet-overlay, .sweet-alert {
  position: absolute !important; }

/****************************
 * JSON Debugging           *
 ****************************/
.string {
  color: green; }

.number {
  color: darkorange; }

.boolean {
  color: blue; }

.null {
  color: magenta; }

.key {
  color: red; }

/****************************
 * Glyphicons inside an input
 ****************************/
.input-icon {
  position: relative;
  /* align icon */
  /* add padding  */
  /* add padding  */
  /* style icon */ }
  .input-icon .right-icon-one {
    right: 10px; }
  .input-icon .right-icon-two {
    right: 30px; }
  .input-icon .right-icon-three {
    right: 50px; }
  .input-icon .right-icon-four {
    right: 70px; }
  .input-icon .left-icon > .fa {
    left: 10px; }
  .input-icon .right-icon > .fa {
    right: 10px; }
  .input-icon .left-icon ~ input, .input-icon select {
    padding-left: 20px !important; }
  .input-icon.left-icon > input, .input-icon.left-icon > select {
    padding-left: 30px !important; }
  .input-icon.right-icon > input, .input-icon.right-icon > select {
    padding-right: 30px !important; }
  .input-icon > .fa {
    z-index: 10;
    position: absolute;
    padding: 10px 5px;
    cursor: pointer; }

/****************************
 * Responsive Styling       *
 ****************************/
@media (min-width: 40em) {
  .qp-form .dropdown-menu {
    position: absolute;
    width: initial;
    -webkit-box-shadow: 10px 16px 64px rgba(0, 0, 0, 0.475);
    box-shadow: 10px 16px 64px rgba(0, 0, 0, 0.475); } }
@media all and (min-width: 768px) {
  .resp-half {
    width: 49%; } }
@media all and (min-width: 1024px) {
  .l-resp-half {
    width: 49%; } }
@media all and (min-width: 1424px) {
  .xl-resp-half {
    width: 49%; } }

/*# sourceMappingURL=qualpay.css.map */
